* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Father {
    height: 1500px;
    width: 1500px;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 5px black solid;
    box-shadow: 10px 10px 10px grey;
}

.main {
    display: flex;
    justify-content: space-between;

}

.sec {
    height: 300px;
    width: 300px;
    overflow: auto;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 5px 5px 5px;
    box-shadow: 10px 10px 10px black;
}

h1,
p {
    text-shadow: 2px 2px 4px black;
}

h1 {
    padding: 5px 5px;
    box-shadow: 5px 5px 10px black;
}


img {
    box-shadow: 5px 5px 5px gray;
}